//Fonts
$OpenSans: "OpenSans", Arial, Helvetica, sans-serif;
$GothamPro: "GothamPro", Arial, Helvetica, sans-serif;

//Colors
$pink: #b14599;
$purple: #9b4499;
$violet: #854399;
$paleViolet: rgba(133, 67, 153, 0.5);
$mainTextColor: #10181f;
$white: #ffffff;